<div class="container text-center">
  <h2>About Form Details</h2>
  <p class="lead">
    This Form is about to build a model app
    using the ember js which is widly used
    across platforms for building single page
    application.
  </p>
  <p>
    To know more about <em>Ember</em> click<a href="https://guides.emberjs.com/"
        target="blank">                      <code>here...</code>
                                           </a>
  </p>
</div>