<div class="container ">
  <nav class="navbar navbar-default">
    <div class="d-flex justify-content-between">
      <div class="navbar-header">
        {{#link-to "index"}}
          <h1>
            <em>EmberForm</em>
          </h1>
        {{/link-to}}
      </div>
      <div class="pull-right">
        <ul class="nav navbar-nav">
          <li>
            {{#link-to "record"}}
              <h3 class="text-danger">
                <em>Record</em>
              </h3>
            {{/link-to}}
          </li>
          <li> 
            {{#link-to "about"}}
              <h3 class="text-danger">
                <em>About</em>
              </h3>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "contact"}}
              <h3 class="text-danger">
                <em>Contact</em>
              </h3>
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{outlet}}