<div class="container">
  <h2>Contact Us</h2>
  <p class="lead">
    If you would like to know more...<br>
    choose a destination and write to us any questions you may have.
  </p>
  <address>
    Basic Form 
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:945.009.4500">+91 9450094500</a><br>
    <a href="mailto:FormModelTech@emberjs.com">FormModelTech@emberjs.com</a>
  </address>
</div>
